@*
// Copyright (c) Microsoft Corporation.
// Licensed under the MIT license.   
*@

@model Contoso.FraudProtection.ApplicationCore.Entities.FraudProtectionApiModels.PurchaseResponse

@if(Model  != null)
{
    <p>Status Code: @Html.DisplayFor(model=>model.StatusCode)</p>
    
    @if(Model.ResultDetails != null)
    {
        <p>Merchant Rule Decision: @Html.DisplayFor(model=>model.ResultDetails.MerchantRuleDecision)</p>
        <p>MID Flag: @Html.DisplayFor(model=>model.ResultDetails.MIDFlag)</p>
    }
}
