@*
// Copyright (c) Microsoft Corporation.
// Licensed under the MIT license.   
*@

@model Contoso.FraudProtection.ApplicationCore.Entities.FraudProtectionApiModels.FraudProtectionResponse

@if(Model  != null)
{
    <p>Status Code: @Html.DisplayFor(model => model.StatusCode)</p>
}
