@*
// Copyright (c) Microsoft Corporation.
// Licensed under the MIT license.   
*@


@{
    ViewData["Title"] = "AccessDenied";
}

<h2>Access is denied</h2>

<h4>You do not have access to view this page.</h4>

<a asp-controller="" asp-action="" >Go back to home</a>

