@*
// Copyright (c) Microsoft Corporation.
// Licensed under the MIT license.   
*@

@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
